* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --text-color: #f1f1f1;
    --bg-color: #0f7fac;
    --bg-color2: #757575;
    --bg-color3: #73b743;
}

body {
    background-color: rgba(241, 241, 241, 0.5);
    font-family: sans-serif;

    width: 100%;
    height: 100vh;
}

main {
    justify-content: center;
    align-items: center;

    /* background-color: aqua; */
    height: 100vh;

    position: relative;

}

.content-wrapper {
    max-width: 70%;
    min-width: 700px;
    margin: 0 auto;
    height: auto;
}


header {
    width: 100%;
    position: relative;
    background-color: white;
    align-items: center;
    padding: 15px 25px 15px;
    /* background-color: ; */
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}

header nav ul {
    list-style: none;
}

header nav ul li {
    cursor: pointer;

    position: relative;
    float: left;
    padding: 0 5px 0px;
    align-items: center;

}

header nav ul li a {

    padding: 10px 25px 10px;
    display: block;
    font-weight: 700;
    font-size: 14px;
    height: 100%;
    width: 100%;
    align-items: center;
    /* background-color: rgba(15, 127, 172,0.8); */
}

.logo_banner {
    margin-left: 12px;
}

header nav ul li .nav-link.inactive:hover {
    border-radius: 10px;
    color: #f1f1f1;
    background-color: #0f7fac;

}


header nav ul li a.active p {

    color: #0f7fac;
    border-bottom: 2px solid #0f7fac;

}

header nav ul li a.active:hover p {

    color: #0c6588;
    border-bottom: 2px solid #0c6588;

}

/* .nav-link  .nav-link-button */
header nav ul li a.nav-link-button {
    color: white;
    background-color: #73b743;
    border-radius: 10px;
    /* background-color: #73b743;color:#ffffff */
}

header nav ul li a.nav-link-button:hover {

    background-color: rgb(131, 207, 76);
    /* background-color: #73b743;color:#ffffff */
}

.inquiry-button {
    cursor: pointer;
    font-size: 50px;
    background-color: #0f7fac;
    color: #ffffff;
    padding: 15px 25px 15px 25px;
    border: none;
    border-radius: 10px;
}

.inquiry-button:hover {
    background-color: #0d6588;
    justify-content: space-evenly;
}

@media screen and (max-width: 800px) {
    div.Company-Advantages {
        display: none;
    }
}

.our-service {
    height: 500px;
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);


    .our-service-offer {
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: space-evenly;
        filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));

        .our-service-offer-container {
            padding: 0px 10px 0px 10px;
            width: 100%;

            .our-service-offer-container-products {
                border-radius: 10px;
                width: 100%;
                height: 350px;
                box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
                background-color: white;

                .our-service-offer-container-products-icon {
                    height: 75px;
                    padding-top: 25px;
                    display: flex;
                    justify-content: center;
                }

                .our-service-offer-container-products-title {
                    text-align: center;
                    margin-top: 25px;
                    font-weight: 400;

                }

                .our-service-offer-container-products-description {
                    text-align: center;
                    margin-top: 25px;
                    padding: 0px 25px 0px 25px;
                    font-weight: 400;
                    text-align: center;
                }
            }
        }

    }
}

@media screen and (max-width: 600px) {
    .our-service-offer {
        display: flex;
        flex-direction: column;
    }
}