 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     --text-color: #f1f1f1;
     --bg-color: #0f7fac;
     --bg-color2: #757575;
     --bg-color3: #73b743;
 }


 /* --contrast: #222222;
 --contrast-2: #575760;
 --contrast-3: #b2b2be;
 --base: #f0f0f0;
 --base-2: #f7f8f9;
 --base-3: #ffffff;
 --accent: #1e73be; */
 body {
     background-color: #ebebe7;

     /* background-color: rgb(248, 248, 239); */
     /* background-color: rgb(248,248,239) ; */
     /* #F8F8F7 */
     /* font-family: sans-serif; */
     font-family: "Inter", sans-serif;
     position: relative;
     width: 100%;
     height: 100vh;
 }

 main {
     justify-content: center;
     align-items: center;

     /* background-color: aqua; */
     height: 100vh;

     position: relative;

 }

 .content-wrapper {
     max-width: 900px;
     min-width: 700px;
     margin: 0 auto;
     position: relative;
     height: auto;
 }


 header {
     width: 100%;
     position: relative;
     background-color: white;
     align-items: center;
     padding: 15px 25px 15px;
     /* background-color: ; */
     filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
 }

 header nav ul {
     list-style: none;
 }

 header nav ul li {
     cursor: pointer;

     position: relative;
     float: left;
     padding: 0 5px 0px;
     align-items: center;

 }

 header nav ul li a {

     padding: 10px 25px 10px;
     display: block;
     font-weight: 700;
     font-size: 14px;
     height: 100%;
     width: 100%;
     align-items: center;
     /* background-color: rgba(15, 127, 172,0.8); */
 }

 .logo_banner {
    display: flex;
    align-items: center;
     margin-left: 12px;
 }

 header nav ul li .nav-link.inactive:hover {
     border-radius: 10px;
     color: #f1f1f1;
     background-color: #0f7fac;

 }


 header nav ul li a.active p {

     color: #0f7fac;
     border-bottom: 2px solid #0f7fac;

 }

 header nav ul li a.active:hover p {

     color: #0c6588;
     border-bottom: 2px solid #0c6588;

 }

 /* .nav-link  .nav-link-button */
 header nav ul li a.nav-link-button {
     color: white;
     background-color: #73b743;
     border-radius: 10px;
     /* background-color: #73b743;color:#ffffff */
 }

 header nav ul li a.nav-link-button:hover {

     background-color: rgb(131, 207, 76);
     /* background-color: #73b743;color:#ffffff */
 }

 .inquiry-button {
     cursor: pointer;
     font-size: 50px;
     background-color: #0f7fac;
     color: #ffffff;
     padding: 15px 25px 15px 25px;
     border: none;
     border-radius: 10px;
 }

 .inquiry-button:hover {
     background-color: #0d6588;
     justify-content: space-evenly;
 }

 @media screen and (max-width: 800px) {
     div.Company-Advantages {
         display: none;
     }
 }

 .About-Us {
     background-color: white;
     height: 500px;

     .About-Sliders-Container {
         width: 100%;

         position: relative;

     }

     .About-Sliders-Slides {
         transition: 2s;
         display: flex;
         width: 300%;
         align-items: center;
         justify-content: center;
         position: relative;
     }

     .Image-Slider {
         position: relative;
         width: 100%;

         .Image-Slider-Slide {
             position: absolute;
             z-index: 2;
             width: 100%;
             clip-path: circle(0% at 0 50%);
         }

         .Image-Slider-Slide-Inner {
             h3 {
                 padding: 0px 0px 30px 0px;
                 font-weight: 500;
                 letter-spacing: 2px;
                 color: #0f7fac;
             }

             p {
                 font-size: 14px;
                 font-weight: 500;
                 text-align: justify;
                 color: rgba(0, 0, 0, 0.5);
                 line-height: 1.6;
                 letter-spacing: 1px;
             }
         }

         .Image-Slider-Slide.Image-Slider-Slide-Active {
             transition: 2s;
             transition-property: clip-path;
             clip-path: circle(150% at 0 50%);

         }

         .navigation {
             position: absolute;
             bottom: 25px;
             width: 50px;
             height: 100px;
             /* background-color: #0f7fac; */
             bottom: 10px;
             display: flex;
             z-index: 2;

         }

         .text-slides-button {
             /* background-color: #000000;
            width: 10px;
            height:10px;
            border-radius: 10px ;  */
             display: none;

         }
     }

 }

 .Our-Advantages {
     height: 200px;
     /* background-color: rgb(248, 248, 239); */
     /* background-color: #ffffff; */
     background-color: #F8F8F7;
     /* background-image: url('./assets/img/wheba_office-desk.jpg');
     background-repeat: no-repeat;
     background-size:cover;  */


     .We-Offer {
         padding: 25px 10px 25px 10px;
         background-color: #ebebe7;
         width: 100%;
         box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
         display: flex;
         align-items: center;
         justify-content: space-evenly;
         z-index: 1;
         height: 200px;
     }

 }

 .Our-Service {
     height: 500px;
     width: 100%;
     padding-top: 40px;
     background-color: #F8F8F7;
     filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));

     /* box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1); */
     .our-service-offer {
         display: flex;
         flex-direction: row;
         align-items: start;
         justify-content: space-evenly;
         filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));

         .our-service-offer-container {
             padding: 0px 10px 0px 10px;
             width: 100%;

             .our-service-offer-container-products {
                 border-radius: 10px;
                 width: 100%;
                 height: 400px;
                 box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
                 background-color: white;

                 .our-service-offer-container-products-icon {
                     height: 75px;
                     padding-top: 25px;
                     display: flex;
                     justify-content: center;
                 }

                 .our-service-offer-container-products-title {
                     text-align: center;
                     margin-top: 25px;
                     font-weight: 400;
                 }

                 .our-service-offer-container-products-description {
                     text-align: justify;
                     margin-top: 25px;
                     font-weight: 400;
                     padding: 0px 25px 0px 25px;
                     line-height: 1.6;
                     font-weight: 400;
                     text-align: center;
                     letter-spacing: 1px;
                     
                 }
             }
         }
     }
 }

 .Featured-Software {
     background-color: #ffffff;
     height: 300px;
 }

 @media screen and (max-width: 600px) {
     .our-service-offer {
         display: flex;
         flex-direction: column;
     }
 }

 .About-Us-Description {
     width: 100%;
     transition: all 500ms ease-in-out;
     display: flex;
     height: 0px;
     overflow: hidden;
     padding: 10px 25px 0px 0px;

     font-size: 14px;
     font-weight: 500;
     text-align: justify;
     color: rgba(0, 0, 0, 0.5);
     line-height: 1.6;
     letter-spacing: 1px;
 }

 .Show-Collapse {
     height: 300px;
     transition: all 500ms ease-in-out;
     /* clip-path: circle(150% at 0 50%); */
 }

 .collapseTriggerActive {
     /* border-top: 1px solid #0f7fac;
     transition: all 500ms ease-in-out; */
 }

 .collapseTriggerIcon {
     transition: all 500ms ease-in-out;
     display: flex;
     transform: rotate(90deg);
 }

 .collapseIcon {
     transition: all 500ms ease-in-out;


 }

 #map {
     height: 500px;
     width: 100%;
 }

 .pg-footer {
     font-family: 'Roboto', sans-serif;
 }


 .footer {
     background-color:#0f7fac ;
     color: #fff;
 }

 .footer-wave-svg {
     background-color: transparent;
     display: block;
     height: 30px;
     position: relative;
     top: -1px;
     width: 100%;
 }

 .footer-wave-path {
     fill: #fffff2;
 }

 .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 300px;
    position: relative;
 }

 .footer-content-column {
     box-sizing: border-box;
     float: left;
     padding-left: 15px;
     padding-right: 15px;
     width: 100%;
     color: #fff;
 }

 .footer-content-column ul li a {
     color: #fff;
     text-decoration: none;
 }

 .footer-logo-link {
     display: inline-block;
 }

 .footer-menu {
     margin-top: 30px;
 }

 .footer-menu-name {
     color: #fffff2;
     font-size: 16px;
     font-weight: 900;
     letter-spacing: .1em;
     line-height: 18px;
     margin-bottom: 0;
     margin-top: 0; 
 }

 .footer-menu-list {
     list-style: none;
     margin-bottom: 0;
     margin-top: 10px;
     padding-left: 0;
 }

 .footer-menu-list li {
     margin-top: 5px;
 }

 .footer-call-to-action-description {
     color: #fffff2;
     margin-top: 10px;
     margin-bottom: 20px;
 }

 .footer-call-to-action-button:hover {
     background-color: #fffff2;
     color: #00bef0;
 }

 .button:last-of-type {
     margin-right: 0;
 }

 .footer-call-to-action-button {
     background-color: #027b9a;
     border-radius: 21px;
     color: #fffff2;
     display: inline-block;
     font-size: 11px;
     font-weight: 900;
     letter-spacing: .1em;
     line-height: 18px;
     padding: 12px 30px;
     margin: 0 10px 10px 0;
     text-decoration: none;
     text-transform: uppercase;
     transition: background-color .2s;
     cursor: pointer;
     position: relative;
 }

 .footer-call-to-action {
     margin-top: 30px;
 }

 .footer-call-to-action-title {
     color: #fffff2;
     font-size: 14px;
     font-weight: 900;
     letter-spacing: .1em;
     line-height: 18px;
     margin-bottom: 0;
     margin-top: 0;
     text-transform: uppercase;
 }

 .footer-call-to-action-link-wrapper {
     margin-bottom: 0;
     margin-top: 10px;
     color: #fff;
     text-decoration: none;
 }

 .footer-call-to-action-link-wrapper a {
     color: #fff;
     text-decoration: none;
 }





 .footer-social-links {
     bottom: 0;
     height: 54px;
     position: absolute;
     right: 0;
     width: 236px;
 }

 .footer-social-amoeba-svg {
     height: 54px;
     left: 0;
     display: block;
     position: absolute;
     top: 0;
     width: 236px;
 }

 .footer-social-amoeba-path {
     fill: #027b9a;
 }

 .footer-social-link.linkedin {
     height: 26px;
     left: 3px;
     top: 11px;
     width: 26px;
 }

 .footer-social-link {
     display: block;
     padding: 10px;
     position: absolute;
 }

 .hidden-link-text {
     position: absolute;
     clip: rect(1px 1px 1px 1px);
     clip: rect(1px, 1px, 1px, 1px);
     -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
     clip-path: inset(0px 0px 99.9% 99.9%);
     overflow: hidden;
     height: 1px;
     width: 1px;
     padding: 0;
     border: 0;
     top: 50%;
 }

 .footer-social-icon-svg {
     display: block;
 }

 .footer-social-icon-path {
     fill: #fffff2;
     transition: fill .2s;
 }

 .footer-social-link.twitter {
     height: 28px;
     left: 62px;
     top: 3px;
     width: 28px;
 }

 .footer-social-link.youtube {
     height: 24px;
     left: 123px;
     top: 12px;
     width: 24px;
 }

 .footer-social-link.github {
     height: 34px;
     left: 172px;
     top: 7px;
     width: 34px;
 }

 .footer-copyright {
     background-color: #0785b7;
     color: #fff;
     padding: 15px 30px;
     text-align: center;
 }

 .footer-copyright-wrapper {
     margin-left: auto;
     margin-right: auto;
     max-width: 1200px;
 }

 .footer-copyright-text {
     color: #fff;
     font-size: 13px;
     font-weight: 400;
     line-height: 18px;
     margin-bottom: 0;
     margin-top: 0;
 }

 .footer-copyright-link {
     color: #fff;
     text-decoration: none;
 }







 /* Media Query For different screens */
 @media (min-width:320px) and (max-width:479px) {

     /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
     .footer-content {
         margin-left: auto;
         margin-right: auto;
         max-width: 1230px;
         padding: 40px 15px 1050px;
         position: relative;
     }
 }

 @media (min-width:480px) and (max-width:599px) {

     /* smartphones, Android phones, landscape iPhone */
     .footer-content {
         margin-left: auto;
         margin-right: auto;
         max-width: 1230px;
         padding: 40px 15px 1050px;
         position: relative;
     }
 }

 @media (min-width:600px) and (max-width: 800px) {

     /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
     .footer-content {
         margin-left: auto;
         margin-right: auto;
         max-width: 1230px;
         padding: 40px 15px 500px;
         position: relative;
     }
 }

 @media (min-width:801px) {
     /* tablet, landscape iPad, lo-res laptops ands desktops */

 }

 @media (min-width:1025px) {
     /* big landscape tablets, laptops, and desktops */

 }

 @media (min-width:1281px) {
     /* hi-res laptops and desktops */

 }




 @media (min-width: 760px) {
     .footer-content {
         margin-left: auto;
         margin-right: auto;
         max-width: 1230px;
         padding: 40px 15px 300px;
         position: relative;

 
         /* margin-left: auto;
         margin-right: auto; */ 
         /* max-width: 1230px; */
         /* padding: 40px 15px 450px; */
         /* position: relative; */
     }

     
     .footer-wave-svg {
         height: 50px;
     }

     .footer-content-column {
         width: 24.99%;
     }
 }

 @media (min-width: 568px) {
     /* .footer-content-column {
        width: 49.99%;
    } */
 }