<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../style.css" rel="stylesheet" type="text/css" />
    <link href="../css/About/about.css" rel="stylesheet" type="text/css" />
    <link href="../css/header.css" rel="stylesheet" type="text/css" />
    <link href="../css/footer.css" rel="stylesheet" type="text/css" />
    <script src="../index.js" type="text/javascript" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
      integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
      crossorigin></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet">

    <title>Suguro</title>
  </head>

  <body>
    <header
      style="display: flex;justify-content: space-between; position:relative;z-index: 1;">
      <div class="logo_container" style=" width:auto ;display: flex;">
        <div class="logo"
          style="height:100%; width: 100%; ">
          <img src="../assets/img/suguro3.png"
            style="height: 100%;width: 100%;">
        </div>

      </div>
      <nav>
        <ul style="display: flex; align-items: center;justify-content: center;">
          <li class="nav-item ">
            <a href="../index.html" class="nav-link  inactive">
              ホーム
            </a>
          </li>

          <div class="dropdown" style="position:relative" data-dropdown>

            <button class="nav-link active" data-dropdown-button>
              <div
                style=" position:relative;pointer-events: none;display: flex;">
                <p>会社</p>

                <div style=" position:relative;pointer-events: none;">
                  <div style="position:absolute;right:-25px;top:0px;">
                    <span class="dropdown-menu-icon">
                      <svg xmlns="http://www.w3.org/2000/svg"
                        style="transition: all 500ms ease-in-out;
                      display: flex; "
                        class="icon icon-tabler icon-tabler-caret-right-filled"
                        width="20" height="20" viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="#0f7fac" fill="none" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path
                          d="M9 6c0 -.852 .986 -1.297 1.623 -.783l.084 .076l6 6a1 1 0 0 1 .083 1.32l-.083 .094l-6 6l-.094 .083l-.077 .054l-.096 .054l-.036 .017l-.067 .027l-.108 .032l-.053 .01l-.06 .01l-.057 .004l-.059 .002l-.059 -.002l-.058 -.005l-.06 -.009l-.052 -.01l-.108 -.032l-.067 -.027l-.132 -.07l-.09 -.065l-.081 -.073l-.083 -.094l-.054 -.077l-.054 -.096l-.017 -.036l-.027 -.067l-.032 -.108l-.01 -.053l-.01 -.06l-.004 -.057l-.002 -12.059z"
                          stroke-width="0" fill="currentColor" />
                      </svg>
                    </span>
                  </div>
                </div>

              </div>
            </button>

            <div class="dropdown-menu">
              <div style="width: 350px;position: relative;display:flex;justify-content: space-between;height: 100%;">
                <div style="width: 100%;  ">
                  <ul class="dropdown-menu-items">
                    <li onmouseover="changeImage(this);"
                      onmouseleave="changeImageDefault();" id="comp_about"
                      class="menu-item-link">
                      <a href="About.html" style>
                        私たちについて
                      </a>
                    </li>
                    <li onmouseover="changeImage(this);"
                      onmouseleave="changeImageDefault();" id="comp_profile"
                      class="menu-item-link">
                      <a href="CompanyProfile.html">
                        会社概要
                      </a>
                    </li>
                    <li>
                      <a href="About.html">
                        Lorem
                      </a>
                    </li>
                    <li>
                      <a href="About.html">
                        Lorem
                      </a>
                    </li>
                    <li>
                      <a href="About.html">
                        Lorem
                      </a>
                    </li>
                  </ul>
                </div>
                <div
                  style="width: 100%;  height:100% ; justify-content: center;display: flex; padding:20px;   ">
                  <div
                    style=" width:100%; height:150px;   align-items: center;justify-content: center;display:flex; padding:5px 5px 5px 5px; ">

                    <img src="../assets/img/img_placeholder.png"
                      class="image-hover image-hover-default" />
                    <img src="../assets/img/Thinking face-bro.png"
                      class="image-hover image-hover-comp_about" />
                    <img src="../assets/img/Profile data-amico.png"
                      style=" " class=" image-hover image-hover-comp_profile" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <li class="nav-item ">
            <a class="nav-link  inactive">
              問い合わせ
            </a>
          </li>
          <li class="nav-item "
            style="border-right: 1px solid rgb(71, 71, 71);">
            <a class="nav-link  nav-link-button ">
              雇用機会
            </a>
          </li>
          <li class="nav-item   ">
            <a class="nav-link  inactive">
              ログイン
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="About-Us-Image"
        style=" background-color: #F8F8F7;  overflow:hidden;height:100%; background-image: url('../assets/img/AboutUsBldg2.png');background-repeat: no-repeat;background-size: cover;">
        <!-- <img src="../assets/img/AboutUsBldg.png"
        style="height:100%; width:100%; " /> -->
        <div class="content-wrapper"
          style="height:100%; ">
          <div
            style="position:absolute;top:70px;left: -50px; ">
            <div style="display: flex;flex-direction: column;">
              <img src="../assets/img/dot-small-orange.png"
                style="width:200px;  " />
            </div>
          </div>

          <div
            style="position:absolute;bottom:100px;right: 50px; ">
            <div style="display: flex;flex-direction: column;">
              <img src="../assets/img/Thinking face-bro.png"
                style="width:500px;  opacity:95%" />
            </div>
          </div>
          <div style="position:relative">
            <div style="position:absolute;top:270px; left:50px;">
              <p style="font-size:48px; font-weight: 700; letter-spacing: 2px;">
                <span style="color:#ffffff;">私たちに</span>
                <span style="color:#f68c54;">ついて</span>

              </p>
              <p
                style="font-size:24px; font-weight: 500; letter-spacing: 2px; margin-top:25px;line-height: 1.5;">
                <span style="color:#ffffff;">私たちは大切なお客様にサービスを提供することを目指しています。<br>
                  支援し能力開発を行うための最も優れた事前訓練を受けた従業員<br>
                  彼らのビジネスは今日の
                </span>
                <span style="color:#f68c54">
                  「グローバルテクノロジー」
                </span>
                <span style="color:#ffffff">
                   にあります。
                </span>
                <!-- <span style="color:#ffffff;"> </span> -->

              </p>
            </div>
          </div>

        </div>
      </div>
      <div class="About-Us-Component"
        style=" background-color: #ffff;  overflow:hidden;height:1000px">
        <div class="content-wrapper">

          <div
            style="display: flex;justify-content: space-between;margin-top:100px;">
            <div class="menu-links-container">

              <div>
                <div
                  style=" height:80px;  border-bottom: 1px dotted #A2A2A2; ">

                </div>
                <ul>
                  <li class="active"><a href="About.html" syle="height:full;width:full;">私たちについて</a></li>
                  <li class="inactive"><a href="CompanyProfile.html" syle="height:full;width:full;">会社概要</a></li>
                  <li class="inactive"><a>lorem</a></li>
                  <li class="inactive"><a>lorem</a></li>
                  <li class="inactive"><a>lorem</a></li>

                </ul>
              </div>
            </div>
            <div style=" " class="menu-links-content-container">
              <!-- <div
                style=" height:80px; ">

              </div> -->
              <div
                style="height:80px; font-weight: 900;width:100%; border-top:#f68c54 1px solid; border-bottom:#f68c54 1px solid;color:#F38D46; align-items: center;justify-content: center;display: flex;text-align: center;font-size: 42px; letter-spacing: 2px;">
                私たちについて
              </div>
              <div
                style="height:100%; font-weight: 500;width:100%;    text-align: justify;font-size: 12px; letter-spacing: 2px;padding-top: 50px;color: #222222;">
                <p>&nbsp;Lorem ipsum dolor sit, amet consectetur adipisicing
                  elit.
                  Adipisci nostrum in fuga aut perferendis placeat architecto
                  expedita itaque labore minus, rerum minima, recusandae quasi
                  laudantium optio, impedit dolor reprehenderit aperiam.
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  <br><br>
                  &nbsp;Reiciendis vero debitis nam, culpa iusto laudantium
                  consectetur, reprehenderit soluta, fugit beatae perferendis
                  rem ipsum excepturi hic ut deleniti. Voluptatem, numquam
                  porro! Lorem, ipsum dolor sit amet consectetur adipisicing
                  elit. Illo, architecto cumque repellat sequi doloribus ipsa
                  voluptatibus aspernatur facilis corrupti quidem quisquam natus
                  dolores cupiditate beatae quod delectus saepe dolorem
                  voluptatem.
                  <br><br>
                  &nbsp;Lorem ipsum dolor sit amet, consectetur adipisicing
                  elit. Ab earum dolor iure vero nihil facilis, numquam ipsa
                  nostrum nulla officia doloribus deserunt facere labore
                  voluptas ratione nesciunt accusantium nisi molestiae?Lorem,
                  ipsum dolor sit amet consectetur adipisicing elit. Ratione
                  doloribus ipsum quo nobis quos magnam, error, esse harum illo
                  perspiciatis consequuntur provident quod. Ad, tenetur sit
                  porro facere inventore labore! Lorem ipsum dolor sit amet
                  consectetur adipisicing elit. Soluta dolor iure excepturi! Cum
                  numquam rem mollitia itaque natus provident iusto repellat
                  quaerat dolor voluptatem, eos suscipit, corporis maxime
                  nostrum ipsum.<br><br>
                  &nbsp;Reiciendis vero debitis nam, culpa iusto laudantium
                  consectetur, reprehenderit soluta, fugit beatae perferendis
                  rem ipsum excepturi hic ut deleniti. Voluptatem, numquam
                  porro! Lorem, ipsum dolor sit amet consectetur adipisicing
                  elit. Illo, architecto cumque repellat sequi doloribus ipsa
                  voluptatibus aspernatur facilis corrupti quidem quisquam natus
                  dolores cupiditate beatae quod delectus saepe dolorem
                  voluptatem.
                  <br><br>
                  &nbsp;Lorem ipsum dolor sit amet, consectetur adipisicing
                  elit. Ab earum dolor iure vero nihil facilis, numquam ipsa
                  nostrum nulla officia doloribus deserunt facere labore
                  voluptas ratione nesciunt accusantium nisi molestiae?Lorem,
                  ipsum dolor sit amet consectetur adipisicing elit. Ratione
                  doloribus ipsum quo nobis quos magnam, error, esse harum illo
                  perspiciatis consequuntur provident quod. Ad, tenetur sit
                  porro facere inventore labore! Lorem ipsum dolor sit amet
                  consectetur adipisicing elit. Soluta dolor iure excepturi! Cum
                  numquam rem mollitia itaque natus provident iusto repellat
                  quaerat dolor voluptatem, eos suscipit, corporis maxime
                  nostrum ipsum.<br><br>
                  &nbsp;Lorem ipsum dolor sit amet, consectetur adipisicing
                  elit. Ab earum dolor iure vero nihil facilis, numquam ipsa
                  nostrum nulla officia doloribus deserunt facere labore
                  voluptas ratione nesciunt accusantium nisi molestiae?Lorem,
                  ipsum dolor sit amet consectetur adipisicing elit. Ratione
                  doloribus ipsum quo nobis quos magnam, error, esse harum illo
                  perspiciatis consequuntur provident quod. Ad, tenetur sit
                  porro facere inventore labore! Lorem ipsum dolor sit amet
                  consectetur adipisicing elit. Soluta dolor iure excepturi! Cum
                  numquam rem mollitia itaque natus provident iusto repellat
                  quaerat dolor voluptatem, eos suscipit, corporis maxime
                  nostrum ipsum.<br><br>
                </p>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="pg-footer">
        <footer class="footer">
          <svg class="footer-wave-svg" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 1200 100" preserveAspectRatio="none">
            <path class="footer-wave-path"
              d="M851.8,100c125,0,288.3-45,348.2-64V0H0v44c3.7-1,7.3-1.9,11-2.9C80.7,22,151.7,10.8,223.5,6.3C276.7,2.9,330,4,383,9.8 c52.2,5.7,103.3,16.2,153.4,32.8C623.9,71.3,726.8,100,851.8,100z"></path>
          </svg>
          <div class="footer-content">
            <div class="footer-content-column" style>
              <div class="footer-logo"
                style="border:1px solid black;height:200px; display: flex;align-items: center;width:100%;justify-content: center; ">

                <h1>LOGO</h1>
              </div>

            </div>
            <div class="footer-content-column">
              <div class="footer-menu">
                <h2 class="footer-menu-name"> Company</h2>
                <ul id="menu-company" class="footer-menu-list">
                  <li class="menu-item"
                    style="display: flex;font-size: 14px;font-weight: 700;">
                    <p>
                      <span style>Profile</span>
                    </p>
                  </li>
                  <li class="menu-item"
                    style="display: flex;font-size: 14px;font-weight: 700;">
                    <p>
                      <span style>About Us </span>
                    </p>
                  </li>

                </ul>
              </div>
            </div>
            <div class="footer-content-column">
              <div class="footer-menu">
                <h2 class="footer-menu-name"> Contact us</h2>
                <ul id="menu-quick-links" class="footer-menu-list">
                  <li class="menu-item"
                    style="display: flex;font-size: 14px;font-weight: 700;">
                    <p>
                      <span style>Telephone: </span>
                      <span>0283-86-7016</span>
                    </p>
                  </li>
                  <li class="menu-item"
                    style="display: flex;font-size: 14px;font-weight: 700;">
                    <p>
                      <span style>Fax: </span>
                      <span>0283-86-7017</span>
                    </p>
                  </li>

                </ul>
              </div>
            </div>
            <div class="footer-content-column">
              <div class="footer-menu">
                <h2 class="footer-menu-name"> Connect on us</h2>
                <ul id="menu-quick-links" class="footer-menu-list">
                  <li class="menu-item"
                    style="display: flex;font-size: 14px;font-weight: 700;">
                    <p>

                      <svg
                        style="border:2px solid white;height:100%; border-radius: 25%;"
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-brand-facebook-filled"
                        width="28" height="28" viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="#095a7a" fill="white" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path
                          d="M18 2a1 1 0 0 1 .993 .883l.007 .117v4a1 1 0 0 1 -.883 .993l-.117 .007h-3v1h3a1 1 0 0 1 .991 1.131l-.02 .112l-1 4a1 1 0 0 1 -.858 .75l-.113 .007h-2v6a1 1 0 0 1 -.883 .993l-.117 .007h-4a1 1 0 0 1 -.993 -.883l-.007 -.117v-6h-2a1 1 0 0 1 -.993 -.883l-.007 -.117v-4a1 1 0 0 1 .883 -.993l.117 -.007h2v-1a6 6 0 0 1 5.775 -5.996l.225 -.004h3z"
                          stroke-width="0" fill="currentColor" />
                      </svg>
                      <svg
                        style="border:2px solid white;height:100%; border-radius: 25%;"
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-brand-twitter-filled"
                        width="28" height="28" viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="#095a7a" fill="none" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path
                          d="M14.058 3.41c-1.807 .767 -2.995 2.453 -3.056 4.38l-.002 .182l-.243 -.023c-2.392 -.269 -4.498 -1.512 -5.944 -3.531a1 1 0 0 0 -1.685 .092l-.097 .186l-.049 .099c-.719 1.485 -1.19 3.29 -1.017 5.203l.03 .273c.283 2.263 1.5 4.215 3.779 5.679l.173 .107l-.081 .043c-1.315 .663 -2.518 .952 -3.827 .9c-1.056 -.04 -1.446 1.372 -.518 1.878c3.598 1.961 7.461 2.566 10.792 1.6c4.06 -1.18 7.152 -4.223 8.335 -8.433l.127 -.495c.238 -.993 .372 -2.006 .401 -3.024l.003 -.332l.393 -.779l.44 -.862l.214 -.434l.118 -.247c.265 -.565 .456 -1.033 .574 -1.43l.014 -.056l.008 -.018c.22 -.593 -.166 -1.358 -.941 -1.358l-.122 .007a.997 .997 0 0 0 -.231 .057l-.086 .038a7.46 7.46 0 0 1 -.88 .36l-.356 .115l-.271 .08l-.772 .214c-1.336 -1.118 -3.144 -1.254 -5.012 -.554l-.211 .084z"
                          stroke-width="0" fill="currentColor" />
                      </svg>
                      <svg xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-brand-instagram"
                        width="28" height="28" viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="#095a7a" fill="none" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path
                          d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" />
                        <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                        <path d="M16.5 7.5l0 .01" />
                      </svg>
                    </p>
                  </li>

                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="footer-copyright-wrapper">
              <p class="footer-copyright-text">
                <a class="footer-copyright-link" href="#" target="_self"> © 2024
                  Suguru Tech. All Rights Reserved. </a>
              </p>
            </div>
          </div>
        </footer>
      </div>
    </main>

  </body>

</html>
<script type="text/javascript">
 

 
 
 function contactUsButton(n){
   // const element = document.getElementsByClassName("Contact-Us");
   // element.scrollIntoView(0); 

 var $container = $("html,body");
 var $scrollTo = $('.Contact-Us');

 $container.animate({scrollTop: $scrollTo.offset().top - $container.offset().top + $container.scrollTop(), scrollLeft: 0},0); 
}
 
  var dropdown_ = false;

  document.addEventListener("click", e=> {
  
  
   const isDropdownButton = e.target.matches("[data-dropdown-button]");
   if(!isDropdownButton){
      dropIcon[0].classList.remove('show');
    }
   if (!isDropdownButton && e.target.closest('[data-dropdown]') != null) {
  
    return
   } 
   // e.target.closest("[data-dropdown]") != null)  return
 
   let currentDropdown;
   if(isDropdownButton){
     // console.log("its is")
     currentDropdown  = e.target.closest('[data-dropdown]')
     currentDropdown.classList.toggle('activeDropdown')
     dropdown_ = !dropdown_;
     
     
    let dropIcon = document.querySelectorAll(".dropdown-menu-icon");
    
    if(dropdown_){
      dropIcon[0].classList.add('show');
     
    }else{
      console.log("close")
      dropIcon[0].classList.remove('show');
    }
   }
   document.querySelectorAll("[data-dropdown].activeDropdown").forEach(dropdown=>{
     if(dropdown ===currentDropdown) return
     dropdown.classList.remove('activeDropdown');
   })

 })

 let allImageHover =   document.querySelectorAll(".image-hover");
 allImageHover[0].classList.add('active'); 

 function changeImageDefault(e){
   let allImageHover =   document.querySelectorAll(".image-hover");
   let active=document.getElementsByClassName('image-hover');
    [...active].forEach((activeClass)=>{
         activeClass.classList.remove('active')
       });
       allImageHover[0].classList.add('active');

 }
 function  changeImage(e){
 
       let allImageHover =   document.querySelectorAll(".image-hover");
       // allImageHover[0].classList.remove('active'); 
       let myTarget =  "image-hover-"+e.id; 
       for(let i =0;i<allImageHover.length;i++){ 
         if(allImageHover[i].classList.contains(myTarget)){
           allImageHover[i].classList.add('active'); 
         }else{
           allImageHover[i].classList.remove('active'); 
         }
       } 
 }

  


</script>