 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     --text-color: #f1f1f1;
     --bg-color: #095a7a;

     --bg-color2: #757575;
     --bg-color3: #73b743;
 }


 /* --contrast: #222222;
 --contrast-2: #575760;
 --contrast-3: #b2b2be;
 --base: #f0f0f0;
 --base-2: #f7f8f9;
 --base-3: #ffffff;
 --accent: #1e73be; */
 body {
     background-color: #ebebe7;

     /* background-color: rgb(248, 248, 239); */
     /* background-color: rgb(248,248,239) ; */
     /* #F8F8F7 */
     /* font-family: sans-serif; */
     font-family: "Inter", sans-serif;
     position: relative;
     width: 100%;
     height: 100vh;
 }

 main {
     justify-content: center;
     align-items: center; 
     height: 100vh; 
     position: relative;

 }

 .content-wrapper {
     max-width: 80%;
     min-width: 700px;
     margin: 0 auto;
     position: relative;
     height: auto;
 } 

 @media screen and (max-width: 640px) {
     .our-service-offer {
         display: flex;
         flex-direction: column;
     }

 }

 @media only screen and (min-width: 640px) and (max-width: 768px) {
     div.Company-Advantages {
         display: none;
     }

     .content-wrapper {
         max-width: 80%;
         min-width: 700px;
     }
 }

 @media only screen and (min-width: 768px) and (max-width:1024px) {
     .our-service-offer {
         display: flex;
         flex-direction: column;
     }

     .content-wrapper {
         max-width: 900px;
         min-width: 700px;
     }
 }

 /* @media screen and (max-width: ) {
    
 } */

 @media only screen and (min-width: 1024px) and (max-width: 1536px) {
     .our-service-offer {
         display: flex;
         flex-direction: column;
     }

     .content-wrapper {
         max-width: 900px;
         min-width: 700px;
     }
 }

 @media screen and (max-width: 1536px) {
     .our-service-offer {
         display: flex;
         flex-direction: column;
     }

     .content-wrapper {
         max-width: 900px;
         min-width: 700px;
     }
 }




 .About-Us {
     background-color: white;
     height: 500px;

     .About-Sliders-Container {
         width: 100%;

         position: relative;

     }

     .About-Sliders-Slides {
         transition: 2s;
         display: flex;
         width: 300%;
         align-items: center;
         justify-content: center;
         position: relative;
     }

     .Image-Slider {
         position: relative;
         width: 100%;

         .Image-Slider-Slide {
             position: absolute;
             z-index: 2;
             width: 100%;
             clip-path: circle(0% at 0 50%);
         }

         .Image-Slider-Slide-Inner {
             h3 {
                 padding: 0px 0px 30px 0px;
                 font-weight: 500;
                 letter-spacing: 2px;
                 color: #095a7a;
             }

             p {
                 font-size: 14px;
                 font-weight: 500;
                 text-align: justify;
                 color: rgba(0, 0, 0, 0.5);
                 line-height: 1.6;
                 letter-spacing: 1px;
             }
         }

         .Image-Slider-Slide.Image-Slider-Slide-Active {
             transition: 2s;
             transition-property: clip-path;
             clip-path: circle(150% at 0 50%);

         }

         .navigation {
             position: absolute;
             bottom: 25px;
             width: 50px;
             height: 100px;
             /* background-color: #095a7a; */
             bottom: 10px;
             display: flex;
             z-index: 2;

         }

         .text-slides-button {
             /* background-color: #000000;
            width: 10px;
            height:10px;
            border-radius: 10px ;  */
             display: none;

         }
     }

 }

 .Our-Advantages {
     height: 200px;
     /* background-color: rgb(248, 248, 239); */
     /* background-color: #ffffff; */
     background-color: #F8F8F7;
     /* background-image: url('./assets/img/wheba_office-desk.jpg');
     background-repeat: no-repeat;
     background-size:cover;  */


     .We-Offer {
         padding: 25px 10px 25px 10px;
         background-color: #ebebe7;
         width: 100%;
         box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
         display: flex;
         align-items: center;
         justify-content: space-evenly;
         z-index: 1;
         height: 200px;
     }

 }

 .Our-Service {
     height: 500px;
     width: 100%;
     padding-top: 40px;
     background-color: #F8F8F7;
     filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));

     /* box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1); */
     .our-service-offer {
         display: flex;
         flex-direction: row;
         align-items: start;
         justify-content: space-evenly;
         filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));

         .our-service-offer-container {
             padding: 0px 10px 0px 10px;
             width: 100%;

             .our-service-offer-container-products {
                 border-radius: 10px;
                 width: 100%;
                 height: 400px;
                 box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
                 background-color: white;

                 .our-service-offer-container-products-icon {
                     height: 75px;
                     padding-top: 25px;
                     display: flex;
                     justify-content: center;
                 }

                 .our-service-offer-container-products-title {
                     text-align: center;
                     margin-top: 25px;
                     font-weight: 400;
                 }

                 .our-service-offer-container-products-description {
                     text-align: justify;
                     margin-top: 25px;
                     font-weight: 400;
                     padding: 0px 25px 0px 25px;
                     line-height: 1.6;
                     font-weight: 400;
                     text-align: center;
                     letter-spacing: 1px;

                 }
             }
         }
     }
 }

 .Featured-Software {
     background-color: #ffffff;
     height: 300px;
 }



 .About-Us-Description {
     width: 100%;
     transition: all 500ms ease-in-out;

     height: 0px;
     overflow: hidden;
     padding: 10px 25px 0px 0px;

     font-size: 14px;
     font-weight: 500;
     text-align: justify;
     color: rgba(0, 0, 0, 0.5);
     line-height: 1.6;
     letter-spacing: 1px;
 }

 .Show-Collapse {
     height: 450px;
     transition: all 500ms ease-in-out;
     /* clip-path: circle(150% at 0 50%); */
 }

 .collapseTriggerActive {
     /* border-top: 1px solid #095a7a;
     transition: all 500ms ease-in-out; */
 }

 .collapseTriggerIcon {
     transition: all 500ms ease-in-out;
     display: flex;
     transform: rotate(90deg);
 }

 .collapseIcon {
     transition: all 500ms ease-in-out;


 } 
 






 /* Media Query For different screens */
 

 /*Job and Roles 1*/

 .jobs_roles_1_container {
     height: 370px;
     width: 100%;
     position: relative;
     border: 3px solid #DCDCDC;
     border-top-right-radius: 25px;
     border-top-left-radius: 25px;
     background-color: #fff;
 }

 .jobs_roles_1 {
     display: block;
     width: 100%;
     height: auto;
     border-top-right-radius: 20px;
     border-top-left-radius: 20px;

 }

 .jobs_roles_1_overlay {

     position: absolute;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: #095a7a;
     overflow: hidden;
     height: 0;
     width: 100%;
     transition: .5s ease all;

     ul {
         padding: 25px;
         color: #fff;

         li {
             font-size: 14px;
         }
     }


 }

 .jobs_roles_1_overlay_text {
     padding-top: 15px;

     position: absolute;
     left: 0;
     right: 0;
     bottom: 0px;
     background-color: #ffffff;
     /* border-radius: 250px/150px;      */
     border-top-right-radius: 20px;
     border-top-left-radius: 20px;
     height: 100px;
     width: 100%;
     transition: .5s ease;

     h2 {
         color: #222222;
         text-align: center;
         font-weight: 700;
         line-height: 1.3;
     }

     .highlight {
         color: #095a7a;
     }
 }

 .jobs_roles_1_overlay_wrapper {
     position: absolute;
     left: -3px;
     right: 0;
     bottom: -3px;
     background-color: #095a7a;
     /* border-radius: 250px/150px; */
     height: 10px;
     width: 102%;
     transition: .5s ease;
 }

 .jobs_roles_1_container:hover .jobs_roles_1_overlay {
     height: 75%;
 }

 .jobs_roles_1_container:hover {
     .jobs_roles_1_overlay_text {
         /* border-top-right-radius: 25px;
     border-top-left-radius: 25px; */
         height: 100%;
         background-color: #095a7a;

         h2 {
             color: #ffffff !important;
         }

         .highlight {
             color: #ffffff !important;
         }
     }

     .jobs_roles_1_overlay_wrapper {
         height: 0px;
     }
 }

 /*Job and Roles 2*/
 .jobs_roles_2_container {
     height: 370px;
     width: 100%;
     position: relative;
     border: 2px solid #DCDCDC;
     border-top-right-radius: 25px;
     border-top-left-radius: 25px;
     background-color: #fff;
 }

 .jobs_roles_2 {
     display: block;
     width: 100%;
     height: auto;
     border-top-right-radius: 20px;
     border-top-left-radius: 20px;

 }

 .jobs_roles_2_overlay {

     position: absolute;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: #095a7a;
     overflow: hidden;
     height: 0;
     width: 100%;
     transition: .5s ease all;

     ul {
         padding: 25px;
         color: #fff;

         li {
             font-size: 14px;
         }
     }


 }

 .jobs_roles_2_overlay_text {
     padding-top: 15px;

     position: absolute;
     left: 0;
     right: 0;
     bottom: 0px;
     background-color: #ffffff;
     /* border-radius: 250px/150px;      */
     border-top-right-radius: 20px;
     border-top-left-radius: 20px;
     height: 100px;
     width: 100%;
     transition: .5s ease;

     h2 {
         color: #222222;
         text-align: center;
         font-weight: 700;
         line-height: 1.3;
     }

     .highlight {
         color: #095a7a;
     }

 }

 .jobs_roles_2_overlay_wrapper {
     position: absolute;
     left: -3px;
     right: 0;
     bottom: -3px;
     background-color: #095a7a;
     /* border-radius: 250px/150px; */
     height: 10px;
     width: 102%;
     transition: .5s ease;
 }

 .jobs_roles_2_container:hover .jobs_roles_2_overlay {
     height: 75%;
 }

 .jobs_roles_2_container:hover {
     .jobs_roles_2_overlay_text {
         /* border-top-right-radius: 25px;
    border-top-left-radius: 25px; */
         height: 100%;
         background-color: #095a7a;

         h2 {
             color: #ffffff !important;
         }

         .highlight {
             color: #ffffff !important;
         }
     }

     .jobs_roles_2_overlay_wrapper {
         height: 0px;
     }
 }

 /*Job and Roles 3*/
 .jobs_roles_3_container {
     height: 370px;
     width: 100%;
     position: relative;
     border: 2px solid #DCDCDC;
     border-top-right-radius: 25px;
     border-top-left-radius: 25px;
     background-color: #fff;
 }

 .jobs_roles_3 {
     display: block;
     width: 100%;
     height: auto;
     border-top-right-radius: 20px;
     border-top-left-radius: 20px;

 }

 .jobs_roles_3_overlay {

     position: absolute;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: #095a7a;
     overflow: hidden;
     height: 0;
     width: 100%;
     transition: .5s ease all;

     ul {
         padding: 25px;
         color: #fff;

         li {
             font-size: 14px;
         }
     }


 }

 .jobs_roles_3_overlay_text {
     padding-top: 15px;

     position: absolute;
     left: 0;
     right: 0;
     bottom: 0px;
     background-color: #ffffff;
     /* border-radius: 250px/150px;      */
     border-top-right-radius: 20px;
     border-top-left-radius: 20px;
     height: 100px;
     width: 100%;
     transition: .5s ease;

     h2 {
         color: #222222;
         text-align: center;
         font-weight: 700;
         line-height: 1.3;
     }

     .highlight {
         color: #095a7a;
     }

 }

 .jobs_roles_3_overlay_wrapper {
     position: absolute;
     left: -3px;
     right: 0;
     bottom: -3px;
     background-color: #095a7a;
     /* border-radius: 250px/150px; */
     height: 10px;
     width: 102%;
     transition: .5s ease;
 }

 .jobs_roles_3_container:hover .jobs_roles_3_overlay {
     height: 75%;
 }

 .jobs_roles_3_container:hover {
     .jobs_roles_3_overlay_text {
         /* border-top-right-radius: 25px;
    border-top-left-radius: 25px; */
         height: 100%;
         background-color: #095a7a;

         h2 {
             color: #ffffff !important;
         }

         .highlight {
             color: #ffffff !important;
         }
     }

     .jobs_roles_3_overlay_wrapper {
         height: 0px;
     }
 }

 /*Job and Roles 4*/
 .jobs_roles_4_container {
     height: 370px;
     width: 100%;
     position: relative;
     border: 2px solid #DCDCDC;
     border-top-right-radius: 25px;
     border-top-left-radius: 25px;
     background-color: #fff;
 }

 .jobs_roles_4 {
     display: block;
     width: 100%;
     height: auto;
     border-top-right-radius: 20px;
     border-top-left-radius: 20px;

 }

 .jobs_roles_4_overlay {

     position: absolute;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: #095a7a;
     overflow: hidden;
     height: 0;
     width: 100%;
     transition: .5s ease all;

     ul {
         padding: 25px;
         color: #fff;

         li {
             font-size: 14px;
         }
     }


 }

 .jobs_roles_4_overlay_text {
     padding-top: 15px;

     position: absolute;
     left: 0;
     right: 0;
     bottom: 0px;
     background-color: #ffffff;
     /* border-radius: 250px/150px;      */
     border-top-right-radius: 20px;
     border-top-left-radius: 20px;
     height: 100px;
     width: 100%;
     transition: .5s ease;

     h2 {
         color: #222222;
         text-align: center;
         font-weight: 700;
         line-height: 1.3;
     }

     .highlight {
         color: #095a7a;
     }

 }

 .jobs_roles_4_overlay_wrapper {
     position: absolute;
     left: -3px;
     right: 0;
     bottom: -3px;
     background-color: #095a7a;
     /* border-radius: 250px/150px; */
     height: 10px;
     width: 102%;
     transition: .5s ease;
 }

 .jobs_roles_4_container:hover .jobs_roles_4_overlay {
     height: 75%;
 }

 .jobs_roles_4_container:hover {
     .jobs_roles_4_overlay_text {
         /* border-top-right-radius: 25px;
    border-top-left-radius: 25px; */
         height: 100%;
         background-color: #095a7a;

         h2 {
             color: #ffffff !important;
         }

         .highlight {
             color: #ffffff !important;
         }
     }

     .jobs_roles_4_overlay_wrapper {
         height: 0px;
     }
 }
 .dropdown-menu-icon{
    transition: all 500ms ease-in-out;
 }
 .dropdown-menu-icon.show {
     transition: all 500ms ease-in-out;
     display: flex;
     transform: rotate(90deg);
 }