<!DOCTYPE html>
<html>

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../style.css" rel="stylesheet" type="text/css" />
    <script src="../index.js" type="text/javascript" defer></script>
    <title>Suguro</title>

  </head>

  <body>
    <header style="display: flex;justify-content: space-between;">
      <div class="logo_container"
        style=" width:auto ;display: flex;">
        <div class="logo"
          style="height:40px; width: 40px;border:1px solid black;">
          <div class></div>
        </div>
        <div class="logo_banner">
          <span>
            <p style="font-size: 20px;font-weight: 700;">Logo Name</p>
            <p style="font-size: 14px; color:#0f7fac;font-weight: 400;">Logo
              Motto</p>
          </span>
        </div>
      </div>
      <nav>
        <ul style="display: flex; ">
          <li class="nav-item "><a class="nav-link  active"><p>ホーム</p></a></li>
          <li class="nav-item "><a class="nav-link  inactive">会社概要</a></li>
          <li class="nav-item "><a class="nav-link  inactive">問い合わせ</a></li>

          <li class="nav-item "
            style="border-right: 1px solid rgb(71, 71, 71);"><a
              class="nav-link  nav-link-button " style>雇用機会</a></li>
          <li class="nav-item   "><a
              class="nav-link  inactive">ログイン</a></li>
          <li class="nav-item inactive"><a class="nav-link  ">search</a></li>
        </ul>

      </nav>
    </header>
    <main>
      <section>
        <div class="main-wrapper">
          <div class="wrapper-body"
            style=" height:auto; width:100%;justify-content:center;padding-top: 50px; padding:40px 0 25px;  ">
            <div class=" "
              style="   display: flex; justify-content: center;align-items: center;text-align: center; font-size: 24px;font-weight: 400;color:  #4d4a4a;">
              <span style="letter-spacing: 1px;">
                <p>ビジネスのすべてのタスクを時間通りに完了するのは難しいと感じていますか?</p>
              </span>
            </div>
            <div class=" "
              style="   display: flex; justify-content: center;align-items: center;text-align: center; font-size: 65px;font-weight: 700; color:  #312d2d; ">
              <span style="letter-spacing: 5px; margin-top:15px;">
                <p>「会社名」をご紹介します</p>
              </span>
            </div>
            <div class=" "
              style="   display: flex; justify-content: center;align-items: center;text-align: center; font-size: 26px;font-weight: 500;color:  #0f7fac; margin-top:25px;">
              <span style="letter-spacing: 1px;">
                <p>当社は、さまざまなソフトウェア、デザイン、情報技術サービスをお客様に提供しています。</p>
              </span>
            </div>
            <div class
              style="display:flex;align-items: center;justify-content: center; margin-top: 50px;">
              <button class="button inquiry-button"
                style>問い合わせ >></button>
            </div>
          </div>
        </div>
      </section>
      <div>
      </div>
      <div class style="width:100px;">
      </div>
      <div class="OurService "
        style="height: auto;width:100%;margin-top: 50px; background-color: white; box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);">
        <div style="padding-top: 50px;"></div>
        <div class="main-wrapper">
          <div
            stlye="display:flex; justify-content:center;align-items:center; width:100%;">
            <span
              style="display:flex; justify-content:center;align-items:center; width:100%; text-align: center; font-size:45px; font-weight: 600;color:#494949; padding-bottom:10px;">
              <p>当社のサービス</p>
            </span>
          </div>
          <div class="border-decoration"
            style="justify-content: center;display:flex; align-items: center;">
            <span class
              style="width:50%;height:1px;background-color: rgba(0, 0, 0, 0.5);max-width:700px;"></span>
          </div>
          <div style="padding-top: 50px;"></div>
        </div>
      </div>
    </main>
    <footer>

    </footer>
  </body>

</html>
<script>

</script>