<!DOCTYPE html>
<html>

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../style.css" rel="stylesheet" type="text/css" />
    <script src="../index.js" type="text/javascript" defer></script>
    <title>Suguro</title>

  </head>

  <body>
    <header style="display: flex;justify-content: space-between;">
      <div class="logo_container"
        style=" width:auto ;display: flex;">
        <div class="logo"
          style="height:40px; width: 40px;border:1px solid black;">
          <div class></div>
        </div>
        <div class="logo_banner">
          <span>
            <p style="font-size: 20px;font-weight: 700;">Logo Name</p>
            <p style="font-size: 14px; color:#0f7fac;font-weight: 400;">Logo
              Motto</p>
          </span>
        </div>
      </div>
      <nav>
        <ul style="display: flex; ">
          <li class="nav-item "><a class="nav-link  active"><p>ホーム</p></a></li>
          <li class="nav-item "><a class="nav-link  inactive">会社概要</a></li>
          <li class="nav-item "><a class="nav-link  inactive">問い合わせ</a></li>

          <li class="nav-item "
            style="border-right: 1px solid rgb(71, 71, 71);"><a
              class="nav-link  nav-link-button " style>雇用機会</a></li>
          <li class="nav-item   "><a
              class="nav-link  inactive">ログイン</a></li>
          <li class="nav-item inactive"><a class="nav-link  ">search</a></li>
        </ul>

      </nav>
    </header>
    <main>
      <div style="position:relative;">
        <!-- <div
          style="height:100%; background-color:  rgba(145, 140, 140, 0.5) ; width: 100%;position:absolute; z-index: -1;">

        </div> -->
        <div class="content-wrapper">
          <div class="wrapper-body"
            style=" height:auto; width:100%;justify-content:center;padding:50px 0px 50px 0px;    ">
            <div class=" "
              style="   display: flex; justify-content: center;align-items: center;text-align: center; font-size: 24px;font-weight: 400;color:  #4d4a4a;">
              <span style="letter-spacing: 1px;">
                <p>ビジネスのすべてのタスクを時間通りに完了するのは難しいと感じていますか?</p>
              </span>
            </div>
            <div class=" "
              style="   display: flex; justify-content: center;align-items: center;text-align: center; font-size: 65px;font-weight: 700; color:  #312d2d; ">
              <span style="letter-spacing: 5px; margin-top:15px;">
                <p>「会社名」をご紹介します</p>
              </span>
            </div>
            <div class=" "
              style="   display: flex; justify-content: center;align-items: center;text-align: center; font-size: 26px;font-weight: 500;color:  #0f7fac; margin-top:25px;">
              <span style="letter-spacing: 1px;">
                <p> どこにいても 必要なサービスを提供します。</p>
              </span>
            </div>
            <div class
              style="display:flex;align-items: center;justify-content: center; margin-top: 50px;">
              <button class="button inquiry-button"
                style>問い合わせ >></button>
            </div>
            <div class="Company-Advantages"  >
              <div
                style="display:flex; justify-content:space-evenly;align-items:center; width:100%; font-size: 26px; padding-top: 50px; ">
                <div style="display: flex;   ">
                  <img src="../assets/img/checked.png"
                    style="height: 35px;width: 60px;">
                  <span style="margin-left:5px;">

                    <p>信頼性のある</p>
                  </span>
                </div>
                <div style="display: flex;">
                  <img src="../assets/img/checked.png"
                    style="height: 35px;width: 60px;">
                  <span style="margin-left:5px;">
                    <p> 速い労働者</p>
                  </span>
                </div>
                <div style="display: flex;">
                  <img src="../assets/img/checked.png"
                    style="height: 35px;width: 60px;">
                  <span style="margin-left:5px;">
                    <p>わからない</p>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
      </div>
       
      <!-- <div class="Company-Advantages" style="padding-top: 25px;">
        <div class="content-wrapper">

        </div>
      </div> -->
      <!-- <div class="Carousel" style="width:100%; height:auto">
        
      </div> -->

      <div class="our-service "
         >

        <div class="content-wrapper"   style="padding-top:50px;">
          
          <div
            stlye="display:flex; justify-content:center;align-items:center; width:100%;">
            <span
              style="display:flex; justify-content:center;align-items:center; width:100%; text-align: center; font-size:45px;line-height:  1.4em; font-weight: 600;color:#494949; padding-bottom:10px;">
              <p>当社のサービス</p>
            </span>
          </div>
          <div class="border-decoration"
            style="justify-content: center;display:flex; align-items: center;">
            <span class
              style="width:50%;height:1px;background-color: rgba(0, 0, 0, 0.5);max-width:500px;"></span>
          </div>
          <div
            style="justify-content: center;text-align: center; padding-top:25px;">
            当社は、お客様にさまざまなソフトウェア、設計、情報技術サービスを提供しています。
          </div>
          <div style="padding-top: 50px;"></div>
          <div>

          </div>
          <div class="our-service-offer">
            <div class="our-service-offer-container">
              <div class="our-service-offer-container-products">
                <div
                  class="our-service-offer-container-products-icon">
                  <img src="../assets/img/logo-search-grid-1x.png">
                </div>
                <div class="our-service-offer-container-products-title"
                  style>
                  <p>ウェブアプリケーション</p>
                </div>
                <div
                  class="our-service-offer-container-products-description"
                  style>
                  <p>最新のWebテクノロジーに基づいて構築されたレスポンシブWebアプリケーションを提供することにより、
                    クライアントは任意のデバイスのブラウザーを介して顧客に独自のサービスを拡張できます。</p>
                </div>
              </div>
            </div>
            <div class="our-service-offer-container">
              <div class="our-service-offer-container-products">
                <div
                  class="our-service-offer-container-products-icon">
                  <img src="../assets/img/logo-search-grid-1x.png">
                </div>
                <div class="our-service-offer-container-products-title"
                  style>
                  <p>ビジネスソフトウェア</p>
                </div>
                <div
                  class="our-service-offer-container-products-description"
                  style>
                  <p>標準的なビジネスプロセス用またはお客様固有のコンピュータソフトウェア。私たちは、お客様のビジネスプロセスを改善、サポート、
                    自動化するための新しい方法をお客様に提供することを目指しています。</p>
                </div>
              </div>
            </div>
            <div class="our-service-offer-container">
              <div class="our-service-offer-container-products">
                <div
                  class="our-service-offer-container-products-icon">
                  <img src="../assets/img/logo-search-grid-1x.png">
                </div>
                <div class="our-service-offer-container-products-title"
                  style>
                  <p>情報技術コンサル</p>
                </div>
                <div
                  class="our-service-offer-container-products-description"
                  style>
                  <p>当社は、お客様の問題やニーズを明確にし、ソリューションを提供および評価し、
                    選択したソリューションの実装ロードマップを提案することを目指しています。</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div style="height: 600px; background-color: #0f7fac;">
        <div style></div>
      </div>
      <div style="height: 300px; background-color: white;"></div>

      <!-- <div class="">

      </div> -->

    </main>
    <footer>

    </footer>
  </body>

</html>
<script>

</script>