<div class="Our-Clients"
        style="  height:600px ; background-color: rgb(248,248,239) ;">

        <div class="content-wrapper">
          <!-- <div style="position:absolute; top:0px;left:-100px; ">
            <img src="../assets/img/dot-long.png" style="opacity:15%;  ;" />
          </div> -->
          <div style=" ">
            <img src="../assets/img/dot-long.png" style="opacity:15%;  ;" />
          </div>
          <div
            style=" justify-content: center;align-items: center;text-align: center; ">
            <p style=" font-size: 65px;font-weight:bolder;color:  #095a7a;">
              Our Customers
            </p>
          </div>
          <div
            style="   padding:50px 0px 50px 0px;display: flex;align-items: center;justify-content: center; position: inherit;">
            <div
              style="height:150px; background-color: #ebebe7; width:100%;  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
              display: flex;align-items: center; justify-content: space-evenly;
              ">
              

            </div>
          </div>
        </div>
      </div>



      <div class="Our-Clients" style="  height:auto ;  "> 
        <div class="content-wrapper"  >
          <!-- <div style="position:absolute; top:0px;left:-100px; ">
            <img src="../assets/img/dot-long.png" style="opacity:15%;  ;" />
          </div> -->
          <!-- <div style=" ">
            <img src="../assets/img/dot-long.png" style="opacity:15%;  ;" />
          </div> -->
          <div
            style=" justify-content: center;align-items: center;text-align: center;height:500px;display: flex; ">
            <p style=" font-size: 45px;font-weight:bolder;color:  #73b743">
              "Turn your business ideas into reality."
            </p>
          </div>

          <!-- <div style=" display:flex; justify-content: end;">
            <img src="../assets/img/dot-long.png"
              style="opacity:15%;  " /> -->
          </div>
          <div
            style="   padding:50px 10px 50px 10px;display: flex;align-items: center;justify-content: center; position: inherit;">
            <div
              style="height:150px; background-color: #ebebe7; width:100%;  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
              display: flex;align-items: center; justify-content: space-evenly;
              ">

            </div>
          </div>
        </div>
      </div>